# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Data besar (opsional, sesuaikan)
data_test/*.mp4
data_test/*.avi

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

